## k近傍

In [1]:
import pandas as pd

loan_200_df = pd.read_csv('./datasets/loan200.csv')
loan_200_df.head()

    outcome  payment_inc_ratio    dti
0    target            9.00000  22.50
1   default            5.46933  21.33
2  paid off            6.90294   8.97
3  paid off           11.14800   1.83
4   default            3.72120  10.81

In [2]:
predictors = ['payment_inc_ratio', 'dti']
outcome = 'outcome'

In [3]:
newloan = loan_200_df.loc[0:0, predictors]
X = loan_200_df.loc[1:, predictors]
y = loan_200_df.loc[1: , outcome]

In [4]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=20)
knn.fit(X, y)
knn.predict(newloan)

array(['paid off'], dtype=object)