## ランダムフォレスト

In [1]:
import pandas as pd

loan3000_df = pd.read_csv('./datasets/loan3000.csv')
loan3000_df.head()

,Unnamed: 0,outcome,purpose_,dti,borrower_score,payment_inc_ratio
0,32109,paid off,debt_consolidation,21.23,0.40,5.11135
1,16982,default,credit_card,15.49,0.40,5.43165
2,25335,paid off,debt_consolidation,27.30,0.70,9.23003
3,34580,paid off,major_purchase,21.11,0.40,2.33482
4,14424,default,debt_consolidation,16.46,0.45,12.10320

In [2]:
predictors = ['borrower_score', 'payment_inc_ratio']
outcome = 'outcome'

In [3]:
X = loan3000_df[predictors]
y = loan3000_df[outcome]

In [4]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=500, random_state=1, oob_score=True)
rf.fit(X, y)

RandomForestClassifier(n_estimators=500, oob_score=True, random_state=1)

In [5]:
loan_df = pd.read_csv('./datasets/loan_data.csv')
loan_df.head()

,Unnamed: 0,status,loan_amnt,term,annual_inc,dti,payment_inc_ratio,revol_bal,revol_util,purpose,...,delinq_2yrs_zero,pub_rec_zero,open_acc,grade,outcome,emp_length,purpose_,home_,emp_len_,borrower_score
0,1,Charged Off,2500,60 months,30000,1.00,2.39320,1687,9.4,car,...,1,1,3,4.8,default,1,major_purchase,RENT,> 1 Year,0.65
1,2,Charged Off,5600,60 months,40000,5.55,4.57170,5210,32.6,small_business,...,1,1,11,1.4,default,5,small_business,OWN,> 1 Year,0.80
2,3,Charged Off,5375,60 months,15000,18.08,9.71600,9279,36.5,other,...,1,1,2,6.0,default,1,other,RENT,> 1 Year,0.60
3,4,Charged Off,9000,36 months,30000,10.08,12.21520,10452,91.7,debt_consolidation,...,1,1,4,4.2,default,1,debt_consolidation,RENT,> 1 Year,0.50
4,5,Charged Off,10000,36 months,100000,7.06,3.90888,11997,55.5,other,...,1,1,14,5.4,default,4,other,RENT,> 1 Year,0.55

In [6]:
predictors_ = ['loan_amnt', 'term', 'annual_inc', 'dti', 'payment_inc_ratio',
                          'revol_bal', 'revol_util', 'purpose', 'delinq_2yrs_zero',
                          'pub_rec_zero', 'open_acc', 'grade', 'emp_length', 'purpose_',
                          'home_', 'emp_len_', 'borrower_score']
ourcome_ = 'outcome'

In [7]:
X_ = pd.get_dummies(loan_df[predictors_], drop_first=True)
y_ = loan_df[outcome]

In [8]:
rf_all = RandomForestClassifier(n_estimators=500, random_state=1)
rf_all.fit(X_, y_)

RandomForestClassifier(n_estimators=500, random_state=1)

In [9]:
importances = rf_all.feature_importances_
importances

array([0.07998995, 0.09326785, 0.0991315 , 0.10579059, 0.0942328 ,
       0.09759648, 0.01099523, 0.00871262, 0.06732547, 0.09689576,
       0.05253653, 0.08750636, 0.0206617 , 0.00748052, 0.00766099,
       0.00364251, 0.0013268 , 0.0025287 , 0.00167231, 0.00142362,
       0.00443443, 0.00331226, 0.00109218, 0.00178106, 0.0075586 ,
       0.00391476, 0.00354768, 0.00166452, 0.00486864, 0.00335877,
       0.00751943, 0.01316393, 0.00340548])