## k-meansクラスタリング

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)

iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [2]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=8).fit(iris_df)

In [3]:
iris_df['cluster'] = kmeans.labels_
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),cluster
0,5.1,3.5,1.4,0.2,2
1,4.9,3.0,1.4,0.2,4
2,4.7,3.2,1.3,0.2,4
3,4.6,3.1,1.5,0.2,4
4,5.0,3.6,1.4,0.2,2

In [4]:
centers = pd.DataFrame(kmeans.cluster_centers_, columns=iris_df.columns[:4])
centers.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           5.100000          2.320000           3.360000          1.020000
1           7.475000          3.125000           6.300000          2.050000
2           5.304545          3.731818           1.500000          0.281818
3           6.036842          2.705263           5.000000          1.778947
4           4.771429          3.189286           1.432143          0.217857

In [5]:
from collections import Counter
sorted(Counter(kmeans.labels_).items(), key=lambda k: k[0])[:10]

[(0, 5), (1, 12), (2, 22), (3, 19), (4, 28), (5, 23), (6, 22), (7, 19)]