In [19]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)

iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [20]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=8).fit(iris_df)

In [21]:
iris_df['cluster'] = kmeans.labels_
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),cluster
0,5.1,3.5,1.4,0.2,6
1,4.9,3.0,1.4,0.2,1
2,4.7,3.2,1.3,0.2,1
3,4.6,3.1,1.5,0.2,1
4,5.0,3.6,1.4,0.2,6

In [23]:
kmeans.cluster_centers_

array([[6.56818182, 3.08636364, 5.53636364, 2.16363636],
       [4.70454545, 3.12272727, 1.41363636, 0.2       ],
       [5.62857143, 2.72380952, 4.13333333, 1.2952381 ],
       [6.43      , 2.94      , 4.59      , 1.435     ],
       [7.475     , 3.125     , 6.3       , 2.05      ],
       [5.24285714, 2.37142857, 3.44285714, 1.02857143],
       [5.24285714, 3.66785714, 1.5       , 0.28214286],
       [6.02777778, 2.73333333, 5.02777778, 1.79444444]])

In [14]:
# centers = pd.DataFrame(kmeans.cluster_centers_, columns=iris_df.columns)
# centers.head()

In [ ]:
from collections import Counter
sorted(Counter(kmeans.labels_).items(), key=lambda k: k[0])[:10]