In [21]:
import pandas as pd
import numpy as np

columns = ['flag1', 'flag2', 'flag3', 'flag4', 'flag5', 'flag6', 'flag7', 'flag8', 'flag9', 'flag10']
data = np.random.randint(0, 2, (1000, 10))

df = pd.DataFrame(data=data, columns=columns)
df.head()

   flag1  flag2  flag3  flag4  flag5  flag6  flag7  flag8  flag9  flag10
0      1      1      1      0      0      0      0      0      1       0
1      0      0      0      0      0      1      0      1      1       1
2      0      1      1      1      0      0      0      0      0       1
3      1      0      0      1      1      0      1      0      1       0
4      1      1      0      0      1      0      1      0      0       1

In [23]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=100).fit(df)

In [31]:
df['cluster'] = kmeans.labels_
df.head()

,flag1,flag2,flag3,flag4,flag5,flag6,flag7,flag8,flag9,flag10,cluster
0,1,1,1,0,0,0,0,0,1,0,50
1,0,0,0,0,0,1,0,1,1,1,68
2,0,1,1,1,0,0,0,0,0,1,21
3,1,0,0,1,1,0,1,0,1,0,51
4,1,1,0,0,1,0,1,0,0,1,65

In [32]:
centers = pd.DataFrame(kmeans.cluster_centers_, columns=columns)
centers.head()

,flag1,flag2,flag3,flag4,flag5,flag6,flag7,flag8,flag9,flag10
0,0.857143,0.214286,0.714286,1.000000e+00,0.285714,8.571429e-01,9.285714e-01,0.071429,0.928571,0.000000
1,0.266667,0.000000,0.133333,1.110223e-16,0.933333,5.551115e-17,0.000000e+00,0.800000,0.400000,0.000000
2,1.000000,0.000000,0.666667,8.333333e-02,0.916667,9.166667e-01,5.551115e-17,0.166667,0.250000,0.833333
3,1.000000,0.937500,0.187500,9.375000e-01,0.187500,8.125000e-01,6.250000e-02,0.937500,0.250000,1.000000
4,0.133333,0.133333,0.266667,0.000000e+00,0.200000,2.000000e-01,1.000000e+00,0.400000,0.866667,1.000000

In [49]:
from collections import Counter
sorted(Counter(kmeans.labels_), key=lambda k: k[0])

IndexError: invalid index to scalar variable.